<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Imagen</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Descripción</th>
            <th scope="col">Categoría</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let producto of coleccionProductos">
            <th scope="row">1</th>
            <td>
                <img src="{{producto.img}}" alt="{{producto.alt}}" height="100px">
            </td>
            <td>{{producto.nombre}}</td>
            <td>{{producto.precio}}</td>
            <td>{{producto.descripcion}}</td>
            <td>{{producto.categoria}}</td>

            <!--acciones-->
            <!--mostrar editar tambien va a editar el produtco seleccionado o iterado en esa fila-->
            <td><button id="btn-edit" title="Editar" type="button" class="btn btn-outline-warning"
                data-bs-toggle="modal" data-bs-target="#editarProducto">
                    <mat-icon>edit</mat-icon>
                </button></td>
                <!--mostrar borrar recibe como parametro el producto seleccionado en esa fila-->
            <td><button id="btn-delete" title="Eliminar" type="button" class="btn btn-outline-danger" 
                data-bs-toggle="modal" data-bs-target="#eliminarProducto" (click)="mostrarBorrar(producto)">
                     <mat-icon>delete</mat-icon>
                </button></td>
        </tr>
    </tbody>
</table>

<!-- Boton para agregar productos -->
<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#agregarProducto">
    Agregar un nuevo producto
</button>

<!-- Modal para agregar productos-->
<div class="modal fade" id="agregarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Ingrese un nuevo producto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!--CUERPO DEL MODAL-->
            <div [formGroup]="producto" class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Ingrese el nombre del producto:</label>
                    <input type="text" class="form-control" formControlName="nombre" placeholder="Ej: Ruda hembra">
                </div>
                <div class="mb-3">
                    <label class="form-label">Ingrese el precio del producto:</label>
                    <input type="number" class="form-control" formControlName="precio" placeholder="Ej: $400">
                </div>
                <div class="mb-3">
                    <label class="form-label">Ingrese la descripción del producto:</label>
                    <input type="text" class="form-control" formControlName="descripcion" placeholder="Ej: Planta de interior/exterior de hojas verdes">
                </div>
                <div class="mb-3">
                    <label class="form-label">Seleccione la categoria del producto:</label>
                    <select class="form-control form-select" formControlName="categoria">
                        <option selected>Elija una opción</option>
                        <option value="Con flores y semillas">Con flores y semillas</option>
                        <option value="Sin flores y semillas">Sin flores y semillas</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Ingrese una imagen:</label>
                    <input type="text" class="form-control" formControlName="img" placeholder="Ingrese el vínculo de una imagen">
                </div>
                <div class="mb-3">
                    <label class="form-label">Ingrese el texto alternativo del producto:</label>
                    <input type="text" class="form-control" formControlName="alt" placeholder="Ingrese el texto alternativo">
                </div>
            </div>
            <!--ACCIONES DEL MODAL-->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal"(click)="agregarProducto()">Guardar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss>Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!--modal para eliminar producto-->
<div class="modal fade" id="eliminarProducto" *ngIf="modalVisibleProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">¿Estás seguro de eliminar el producto?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!--CUERPO DEL MDOAL-->
        <div class="modal-body">
            <!--Mostramos al usuario la iformacion del producto que vamos a eliminar-->
          {{productoSeleccionado.nombre}}
          <img src="{{productoSeleccionado.img}}" alt="{{productoSeleccionado.alt}}" width="100%">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="borrarProducto()">Borrar</button>
          <button type="button" class="btn btn-primary">Cerrar</button>
        </div>
      </div>
    </div>
  </div>