.example-header-image {
    background-image: url('https://imgs.search.brave.com/yXHmbvFs-68_HsJIrkQcO2t9SHO-Svu4WxyjBvkmQTU/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/ZXVyb3Jlc2lkZW50/ZXMuY29tL2hvZ2Fy/L21hc2NvdGFzL3dw/LWNvbnRlbnQvdXBs/b2Fkcy9zaXRlcy81/LzIwMTUvMDkvZ2F0/by1jb24tbGEtY2Fy/YS1tYXMtdHJpc3Rl/LTEuanBnP3gzOTMx/Mw');
    background-size: cover;
}
.card-cont-general {
    margin: 20px auto;
}
.botones {
    background-color: lightgreen;
    margin: 2px 5px;
}
.container {
    display: flex;
    padding: 10px;
    justify-content: center;
}
h1{
    text-align: center;
}
.contenido {
    width: 300px;
    display: inline-block;
    padding: 15px;
    border-radius: 8px;
    margin: 10px;
}